.btn {
  display: inline-flex;
  font-size: 1.4rem;
  font-weight: $btn-font-weight;
  color: $base-text-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  padding: $btn-padding-y $btn-padding-x;
  transition: all $base-transition;
}
