{% extends "../layout.twig" %}

{# NOTE: import custom twig macros #}
{% import "../macro/svg.twig" as svg %}
{% import "../macro/webp.twig" as webp %}

{% block content %}
{# NOTE: write page HTML code here #}
<div class="container">
  <h1 class="h1">{{ h1 }}</h1>
</div>
{% endblock %}

{% block styles %}
{# NOTE: include custom page styles here #}
{% endblock %}

{% block scripts %}
{# NOTE: include custom page js & libs here #}
{% endblock %}
